body{
	background-color: #e5f6df;
	text-align: center;
}
#title{
	color: #003366 ;
}
.subtitle{
	color: blue;
	font-size: 30px;
}
#enter-hero-input{
	width: 60%;
	height: 40px;
	border-radius: 10px;
	border: 1px solid white;
}
#submit-button{
	background-color: blue;
	color: white;
	border: 10px solid blue;
	border-radius: 10px;
}
#power-stat-table{
width: 50%;
font-size: 20px;
margin-left: 25%;

border: 2px solid blue;
}
th, td{
border: 2px solid blue;

}